## Project-level .gitignore

# Node
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment files
.env
.env.*

# Dependency directories
/.pnp/
.pnp.js

# Coverage
coverage/
.nyc_output/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
out/

# Test artifacts
# Test artifacts
playwright-report/
blob-report/
test-results/

# Playwright auth/cache
/playwright/.auth/
/playwright/.cache/

# Caches
.cache/
.cache-loader/
*.tgz
*.tmp
*.temp

# Optional binaries
*.exe
*.dll
*.so
*.dylib

# Test Files ignoring until in progress
btnactions/
buttons/
tables/
tabs/
alerts.spec.ts
datepicker.spec.ts
dropdowns.spec.ts
fileupload.spec.ts
iframes.spec.ts
loader.spec.ts
pagination.spec.ts
shoppingcart.spec.ts
